 img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }

.background{
    background-color: rgb(184, 183, 183);
   }
   .bangladesh h2{
       color: red;
       font-size: 40px;
   }
   .bangladesh p{
       color: green;
       font-size: 20px;
       font-style: oblique;
   }

   .india h2{
       color: orange;
       font-size: 40px;
   }
   .india p{
       color: greenyellow;
       font-size: 20px;
       font-style: oblique;
   }

   .pakistan h2{
       color: white;
       font-size: 40px;
   }
   .pakistan p{
       color: green;
       font-size: 20px;
       font-style: oblique;
   }
   .china h2{
       color: yellow;
       font-size: 40px;
   }
   .china p{
       color: red;
       font-size: 20px;
       font-style: oblique;
   }