   .background{
    background-color: rgb(184, 183, 183);
   }
   .bangladesh h2{
       color: red;
   }
   .bangladesh p{
       color: green;
       font-size: 15px;
       font-style: oblique;
   }

   .india h2{
       color: orange;
   }
   .india p{
       color: greenyellow;
       font-size: 15px;
       font-style: oblique;
   }

   .pakistan h2{
       color: white;
   }
   .pakistan p{
       color: green;
       font-size: 15px;
       font-style: oblique;
   }
   .china h2{
       color: yellow;
   }
   .china p{
       color: red;
       font-size: 15px;
       font-style: oblique;
   }